{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap %}
{% block title %}Rejestracja{% endblock title %}
{% block content %}
    <div class="card" style="max-width: 500px; left: 35%;">
        <div class="card-header" style="font-weight: bold">Rejestracja</div>
        <div class="card-body">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ userForm|bootstrap }}
                {{ customerForm|bootstrap }}
                <button type="submit" style="margin-top: 5px; color: white" class="btn btn-success"
                        onclick="EqualPasswords()">Zarejestruj
                </button>
                <p class="card-text" style="margin-top: 10px">
                    Masz ju&#380; konto?
                    <a href="{% url 'login' %}" class="btn btn-info" style="color: white">Logowanie</a>
                </p>
            </form>
        </div>
    </div>
    <script>
        function EqualPasswords() {
            var pass = document.getElementById("id_password1").value;
            var rpass = document.getElementById("id_password2").value;
            if (pass !== rpass) {
                alert("Hasła nie są takie same");
                return false;
            } else if (pass === rpass) {
                console.log("Hasła takie same");
                return true;
            }
        }
    </script>
{% endblock content %}