.error {
    color: red;
    font-weight: bolder;
    filter: brightness(200%);
    list-style: none;
    text-decoration: none;
    animation: blinkingError 2s infinite;
    margin-top: 50px;
    margin-right: 10px;
    font-size: larger;
    max-width: 300px;
    text-align: justify;
    -webkit-text-stroke: 0.5px #bb0a1e;
}

@keyframes blinkingError {
    0% {
        color: white;
    }

    20% {
        color: red;
    }

    40% {
        color: white;
    }

    60% {
        color: red;
    }

    80% {
        color: white;
    }

    100% {
        color: red;
    }
}

.success {
    color: green;
    font-weight: bolder;
    filter: brightness(200%);
    animation: blinkingSuccess 2s infinite;
    list-style: none;
    text-decoration: none;
    margin-top: 50px;
    margin-right: 10px;
    font-size: larger;
    max-width: 300px;
    text-align: justify;
}

@keyframes blinkingSuccess {
    0% {
        color: white;
    }

    20% {
        color: green;
    }

    40% {
        color: white;
    }

    60% {
        color: green;
    }

    80% {
        color: white;
    }

    100% {
        color: green;
    }
}