{% extends 'base.html' %}
{% load bootstrap4 %}
{% load bootstrap %}
{% block title %}Twój profil{% endblock title %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm" style="background-color: lightblue; border-style: solid;
            border-color: lightblue;
            border-bottom-left-radius: 15px;  border-top-left-radius: 15px;
            border-right-color: white; border-right-width: medium; ">
                <h2 style="color: white; border-bottom: white solid">Twoje ogłoszenia</h2>
                {% for userAd in userAds %}
                    <div class="card" style="width: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="border-bottom: lightblue solid 2px; font-weight: bold">{{ userAd.adName }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Opublikowano: {{ userAd.publicationDate }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold">
                                Wygaśnie: {{ userAd.expirationDate }}</h6>
                            <p class="card-text" style="text-align: justify;">{{ userAd.description }}</p>
                            <p class="card-text">Cena: {{ userAd.cost }}zł</p>
                            {% if userAd.taken == True %}
                                <p class="card-text"
                                   style="font-weight: bolder; color: firebrick;">
                                    Zarezerwowane:
                                    Tak<br>Zarezerwował:
                                    {{ userAd.reserver.name }} {{ userAd.reserver.surName }} {{ userAd.reserver.telNum }}
                                    {{ userAd.reserver.user.email }}<br>Nazwa
                                    użytkownika:<br>{{ userAd.reserver.user.username }}</p>
                                <a href="{% url 'cancelReservation' userAd.pk %}" class="btn btn-danger"
                                   style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;
                                   margin-bottom: 1px; width: 325.625px">Anuluj rezerwację</a>
                            {% endif %}
                            {% if userAd.taken == False %}
                                <p class="card-text" style="font-weight: bolder;">Zarezerwowane:
                                    Nie</p>
                            {% endif %}
                            <div class="btn-group" role="group">
                                <a href="{% url 'editAd' userAd.pk %}" class="btn btn-warning"
                                   style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;">Edytuj</a>
                                <a href="{% url 'deleteAd' userAd.pk %}" class="btn btn-danger"
                                   style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;">Usuń</a>
                                <a href="{% url 'adDetails' userAd.pk %}" class="btn btn-info"
                                   style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;">
                                    Przejdź&nbsp;do&nbsp;ogłoszenia</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm" style="background-color: lightblue; border-style: solid;
             border-color: lightblue; border-right-color: white; border-right-width: medium;">
                <h2 style="color: white; border-bottom: white solid">Twoje opcje</h2>
                <a href="{% url 'addAd' %}" class="btn btn-success"
                   style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;">Dodaj nowe
                    ogłoszenie</a><br>
                {% if user.customer.userType == 'ADM' %}
                    <a id="a" href="{% url 'admin:index' %}">
                        <button class="btn btn-info"
                                style="color: white; margin-top: 5px; font-weight: bold; -webkit-text-stroke: 0.1px black;">
                            Panel administratora
                        </button>
                    </a>
                {% endif %}
                <h2 style="color: white; border-bottom: white solid">Twoje rezerwacje</h2>
                {% for reservedAd in reservedAds %}
                    <div class="card bg-light mb-3">
                        <div class="card-header" style="font-weight: bold">Ogłoszenie
                            wygaśnie:<br>{{ reservedAd.expirationDate }}</div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold">{{ reservedAd.adName }}</h5>
                            <p class="card-text" style="font-weight: bold; color: grey">
                                Właściciel:<br>{{ reservedAd.customer.name }} {{ reservedAd.customer.surName }}
                                {{ reservedAd.customer.telNum }} {{ reservedAd.customer.user.email }}<br>Nazwa
                                użytkownika:<br>{{ reservedAd.customer.user.username }}
                            </p>
                            <a href="{% url 'cancelReservation' reservedAd.pk %}" class="btn btn-danger"
                               style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;
                               margin-bottom: 1px; width: 190.15px">Anuluj&nbsp;rezerwację</a>
                            <a href="{% url 'adDetails' reservedAd.pk %}" class="btn btn-info"
                               style="color: white; font-weight: bold; -webkit-text-stroke: 0.1px black;">
                                Przejdź&nbsp;do&nbsp;ogłoszenia</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm" style="background-color: lightblue; border-style: solid;
            border-bottom-right-radius: 15px; border-color: lightblue; border-top-right-radius: 15px;">
                <h2 style="color: white; border-bottom: white solid">Twoje dane</h2>
                <table class="table"
                       style="border-radius: 15px; background-color: white; border-bottom-color: lightblue; border-top-color: lightblue">
                    <tbody>
                    <tr>
                        <th scope="row">Nazwa&nbsp;użytkownika</th>
                        <td>{{ customer.user.username }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Imię i nazwisko</th>
                        <td>{{ customer.name }}&nbsp;{{ customer.surName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Typ użytkownika</th>
                        <td>{{ customer.displayUserType }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Numer telefonu</th>
                        <td>{{ customer.telNum }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adres</th>
                        <td>{{ customer.street }}&nbsp;{{ customer.zipCode }}&nbsp;{{ customer.city }}, {{ customer.state }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adres Email</th>
                        <td>{{ customer.user.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock content %}