{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Wszystkie ogłoszenia{% endblock title %}
{% block content %}
    <div class="row" style="margin: 10px;">
    <div class="card" style="width: 18rem; margin: 10px;">
        <img class="card-img-top" style="width: 286px; height: 180px;" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin: 10px;">
        <img class="card-img-top" style="width: 286px; height: 180px;" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
{% endblock content %}